<h1>Salut! Tu a demande un nouveau lien pour confirmer ton addresse mail.</h1>

<p>
    Tu peut confirmer ton addresse mail en cliquant sur ce lien: <br><br>
    <a href="{{ signedUrl|raw }}">Me connecter et confirmer mon mail</a>.
    Ce lien expirera dans {{ expiresAt|date('g') }} heure(s).
</p>

<p>
    A bientot!
</p>
