<h1>Salut! Avant de te connecter au portail fabMirror, il faut verifier ton adresse mail!</h1>

<p>
    Tu peut confirmer ton addresse mail en cliquant sur ce lien: <br><br>
    <a href="{{ signedUrl|raw }}">Me connecter et confirmer mon mail</a>.
    Ce lien expirera dans {{ expiresAt|date('g') }} heure(s).
</p>

<p>
    A bientot!
</p>
