{% extends 'base.html.twig' %}

{% block title %}Hello LandingController!{% endblock %}

{% block crumbs %}
    <li class="breadcrumb-item active">Accueil</li>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 rounded-bottom fabOrange-light">
                <h1>Logged in and this is the homepage.</h1>
            </div>
        </div>
    </div>
{% endblock %}
